<div class="container mt-5">
    <h1>Johto</h1>
    <div class="row">
        {{#each pokemon }}
        <div class="col-md-3">
            <div>
                <article class="character-card mb-5">
                    <h4>{{name}}</h4>
                    <img src={{url}} alt="">
                    <a href="/pokemon/{{name}}" class="btn btn-info">Details</a>
                    <form action="/pokedex/favorite/{{name}}" method="POST" style="display: inline">
                        <input type="submit" value="Favorite" class="btn btn-sm btn-danger">
                    </form>
                </article>
            </div>
        </div>
        {{/each}}
    </div>
</div>