<div class="container mt-5">
    <div class="row">
        {{#each pokemon }}
        <div class="col-md-3">
            <div>
                <article class="character-card mb-5">
                    <h4>{{pokemon_species.name}}</h4>
                    <img src="" alt="">
                    <a href="/pokemon/{{pokemon_species.name}}" class="btn btn-info">Details</a>
                </article>
            </div>
        </div>
        {{/each}}
    </div>
</div>