<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">

            <article class="character-card mb-5">

                {{#each pokemon }}
                <img src="{{sprites.front_default}}" alt="{{name}} Image">
                {{/each}}

            </article>

        </div>
    </div>
</div>