<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
   <nav class="navbar navbar-expand-lg bg-dark mb-5" data-bs-theme="dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">{{siteTitle}}</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/pokedex" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">Pokemon</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="/pokedex">National</a></li>
                     <li><a class="dropdown-item" href="/pokedex/kanto">Kanto</a></li>
                     <li><a class="dropdown-item" href="/pokedex/johto">Johto</a></li>
                     <li><a class="dropdown-item" href="/pokedex/hoenn">Hoenn</a></li>
                     <li><a class="dropdown-item" href="/pokedex/sinnoh">Sinnoh</a></li>


                  </ul>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">Log in/Register</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="/signup">Sign up</a></li>
                     <li><a class="dropdown-item" href="/login">Log In </a></li>
                     <li><a class="dropdown-item" href="/logout">Log out</a></li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/profile">Mi perfil</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">Events</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="/events">Events</a></li>
                     <li><a class="dropdown-item" href="/events/create">New Event</a></li>
                  </ul>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">Roles</a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="/admin">Admin panel</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
</body>

</html>