body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2016/08/187200-tipos-pokemon-maplerose.jpg?tf=3840x);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00b7ff;
}

.bg-list {
  background-color: #ffffff7e;
  backdrop-filter: blur(10px);
}

h1 {
  color: 15px;
}


#map {
  height: 100vh;
  width: 100%;
  background-color: red;
}

.profilePokemon {
  width: 100px;
  height: 100px;
}

li {
  list-style: none;
}

.navbar {
  background-color: blue;

  border-radius: 10px;

  font-family: Fantasy;

}

.navbar .nav-link {
  color: white;
  /* Cambia el color del texto a amarillo */
}