body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


#map {
  height: 100vh;
  width: 100%;
  background-color: red;
}

.profilePokemon {
  width: 100px;
  height: 100px;
}

li {
  list-style: none;
}

.navbar {
  background-color: green;

  border-radius: 10px;

  font-family: Fantasy;

}

.navbar .nav-link {
  color: yellow;
  /* Cambia el color del texto a amarillo */
}